:root {
 --background-white: #FFFFFF;
 --background-gray: #F2F2F2;
 --blue: #1E90FF;
 --primary-font: 'Raleway';
 --secondary-font: 'Montserrat';
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: var(--primary-font);
}
.container {
 width: 85%;
 margin: auto;
}
body {
 background-color: var(--background-gray);
}


